[submodule "ccpp-framework"]
	path = ccpp/framework
	url = https://github.com/NCAR/ccpp-framework
	# Long-lived feature branch until CAM-SIMA transitions
	#branch = develop
	branch = feature/capgen-v1
[submodule "ccpp-physics"]
	path = ccpp/physics
	#url = https://github.com/NCAR/ccpp-physics
	#branch = scm/dev
	url = https://github.com/climbfuji/ccpp-physics
	branch = feature/capgen-ng
[submodule "CMakeModules"]
	path = CMakeModules
	url = https://github.com/noaa-emc/CMakeModules
	branch = develop
