[submodule "ccpp-framework"]
	path = ccpp/framework
	url = https://github.com/NCAR/ccpp-framework
	branch = develop
[submodule "ccpp-physics"]
	path = ccpp/physics
	# url = https://github.com/NCAR/ccpp-physics
	# branch = scm/dev
	url = https://github.com/matusmartini/ccpp-physics.git
	branch = cdmbgwd_scale_ugwp_v0
[submodule "CMakeModules"]
	path = CMakeModules
	url = https://github.com/noaa-emc/CMakeModules
	branch = develop
