[submodule "ccpp-framework"]
	path = ccpp/framework
	url = https://github.com/NCAR/ccpp-framework
	branch = develop
[submodule "ccpp-physics"]
	path = ccpp/physics
	#url = https://github.com/NCAR/ccpp-physics
	#branch = main
        url = https://github.com/climbfuji/ccpp-physics
        branch = feature/wrapper_1183_1188_1189_ncar
[submodule "CMakeModules"]
	path = CMakeModules
	url = https://github.com/noaa-emc/CMakeModules
	branch = develop
