name: build_test_and_push_docker

on:
  push:
    branches:
      # Only build containers when pushing to main
      - "main"

env:
  LATEST_TAG: dtcenter/ccpp-scm:latest

jobs:
  docker:
    if: github.repository == 'NCAR/ccpp-scm'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Check if secrets are defined
        run: |
          if [ -z "${{ secrets.DOCKERHUB_USERNAME }}" ]; then echo "Username is MISSING"; else echo "Username is SET"; fi
          if [ -z "${{ secrets.DOCKERHUB_TOKEN }}" ]; then echo "Token is MISSING"; else echo "Token is SET"; fi

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ env.LATEST_TAG}} docker/

      - name: Push Docker image
        run: |
          docker push ${{ env.LATEST_TAG }}
